<footer
  class="bg-white h-[250px] dark:bg-azulmarino border-t flex items-center justify-center"
>
  <section
    class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-0 h-[200px] w-screen"
  >
    <div
      class="text-[0.833rem] md:border-r h-full grid md:grid-cols-2 grid-cols-4 md:col-span-1"
    >
      <img
        src="../../src/assets/logo.svg"
        class="md:ml-10 ml-1 w-[40px] md:w-auto col-span-1 dark:invert"
        alt="Logo HG"
      />
      <div class="ml-8 md:ml-2 col-span-3 md:col-span-1">
        <h4 class="text-[1.125rem]">Mi cuenta</h4>
        <p class="cursor-pointer hover:underline hover:text-dorado">
          Registrate
        </p>
        <p class="cursor-pointer hover:underline hover:text-dorado">
          Inicia sesion
        </p>
      </div>
    </div>
    <div
      class="text-[0.833rem] md:border-r h-full w-[150px] md:w-auto col-span-1 ml-8 md:ml-10"
    >
      <h4 class="text-[1.125rem]">Store HG</h4>
      <p>¿Quienes somos?</p>
    </div>
    <div
      class="text-[0.833rem] h-full md:ml-10 [@media(max-width:426px)]:place-items-center col-span-2 md:col-span-1"
    >
      <h4 class="text-[1.125rem]">Atencion al cliente</h4>
      <p>Preguntas frecuentes</p>
      <p>Terminos y condiciones</p>
      <div>
        <h4>Siguenos en</h4>
      </div>
    </div>
  </section>
</footer>
