---

---

<div class="bg-amarillo">
  <header class="flex items-center justify-between p-2 mx-1">
    <img class="w-[50px] dark:invert" src="./src/assets/logo.svg" alt="" />
    <form class="flex-grow mx-2 md:mx-20 lg:mx-30 xl:mx-40 relative" action="">
      <input
        id="search-input"
        class="w-full px-4 py-1 border border-black rounded-full bg-white placeholder-white md:placeholder-gray-500"
        placeholder="¿Qué estás buscando?"
        type="text"
      />
      <button
        id="search-button"
        class="flex items-center justify-center absolute top-0 right-0 h-full w-10 bg-black rounded-full text-white hover:bg-yellow-900 duration-500"
        type="submit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          ></path>
        </svg>
      </button>
    </form>
    <div
      class="flex items-center w-[80px] md:w-[120px] lg:w-[170px] md:gap-8 gap-4"
    >
      <button
        id="login"
        class="flex items-center py-2 cursor-pointer hover:scale-105 duration-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 w-[35px] h-[35px]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          ></path>
        </svg>
      </button>
      <button
        id="carrito"
        class="flex items-center py-2 gap-2 cursor-pointer hover:scale-105 duration-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 w-[32px] h-[32px]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          ></path>
        </svg>
      </button>
    </div>
  </header>
  <nav class="bg-amarillo sm:hidden" id="menu-mobile">
    <button
      id="menu-toggle"
      ¿
      class="w-full text-[1rem] mb-1 ml-2 text-left font-bold"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-[35px] h-[35px] inline-block mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
      Categorías
    </button>
    <div id="menu-items" class="hidden mt-2 ml-2">
      <a
        class="font-semibold text-black hover:text-gray-600 block py-2"
        href="#"
      >
        Computadoras
      </a>
      <a
        class="font-semibold text-black hover:text-gray-600 block py-2"
        href="#"
      >
        Laptops
      </a>
      <a
        class="font-semibold text-black hover:text-gray-600 block py-2"
        href="#"
      >
        Celulares
      </a>
      <a
        class="font-semibold text-black hover:text-gray-600 block py-2"
        href="#"
      >
        Accesorios
      </a>
    </div>
  </nav>
  <nav
    class="hidden sm:flex sm:justify-center sm:gap-16 sm:pb-4"
    id="menu-desktop"
  >
    <a class="font-semibold text-black hover:text-gray-600" href="#">
      Computadoras
    </a>
    <a class="font-semibold text-black hover:text-gray-600" href="#">
      Laptops
    </a>
    <a class="font-semibold text-black hover:text-gray-600" href="#">
      Celulares
    </a>
    <a class="font-semibold text-black hover:text-gray-600" href="#">
      Accesorios
    </a>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const menuItems = document.getElementById("menu-items");
    const menuDesktop = document.getElementById("menu-desktop");

    if (menuToggle && menuItems && menuDesktop) {
      menuToggle.addEventListener("click", () => {
        menuItems.classList.toggle("hidden");
      });
    }
  });
</script>
