---
import Layout from "../layouts/Layout.astro";
import VerProducto from "../components/VerProducto.astro";
import Categorias from "../components/Categorias.astro";
import CardCatgoria from "../components/CardCatgoria.astro";
import CardPago from "../components/CardPago.astro";

---

<Layout>
  <Categorias />
  <VerProducto />
  <CardCatgoria
    categoria="Audifonos"
    fotoBanner="/src/assets/bannerAudifonos.webp"
    foto1="/src/assets/nice.png"
    foto2="/src/assets/nice.png"
    foto3="/src/assets/nice.png"
    foto4="/src/assets/nice.png"
    text1="On Ear"
    text2="In Ear"
    text3="True Wireless"
    text4="Anulacion de ruido"
  />
  <section>
    <CardPago />
  </section>
</Layout>
