---
import "../styles/global.css";
---

<!doctype html>
<html lang="es-pe">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Dashboard</title>
  </head>
  <body
    class="font-sans text-[1rem] bg-plomo dark:bg-morado text-black dark:text-white"
  >
    <slot />
  </body>
</html>
