---
const { text, color, hoverColor, tipo } = Astro.props;
---

<button
  type={tipo}
  class={`${color} ${hoverColor} px-2 py-0.5 text-[0.833rem] hover:scale-105 active:scale-95 border-b-[0.150rem] border-r-[0.2rem] border rounded my-1 mx-auto w-[200px]`}
>
  {text}
</button>
