---

---
<body class="text-gray-800 p-8">

  <h2 class="text-3xl font-bold mb-6 text-center">Inventario de Productos</h2>

  <div class="overflow-x-auto px-8">
    <table class="min-w-full bg-white">
      <thead>
        <tr class="bg-gray-200 text-gray-700 uppercase text-sm ">
          <th class="py-3 px-6 text-left">ID</th>
          <th class="py-3 px-6 text-left">Nombre</th>
          <th class="py-3 px-6 text-left">Marca</th>
          <th class="py-3 px-6 text-left">Precio</th>
          <th class="py-3 px-6 text-left">Descripción</th>
          <th class="py-3 px-6 text-left">Imagen</th>
          <th class="py-3 px-6 text-left">Fecha</th>
          <th class="py-3 px-6 text-left">Usuario</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">001</td>
          <td class="py-3 px-6 text-left">Nombre del Producto</td>
          <td class="py-3 px-6 text-left">Marca</td>
          <td class="py-3 px-6 text-left">S/.29.99</td>
          <td class="py-3 px-6 text-left">Descripción del Producto</td>
          <td class="py-3 px-6 text-left">
            <a href="#" target="_blank" class="text-blue-500 hover:underline">Ver Imagen</a>
          </td>
          <td class="py-3 px-6 text-left">2023-01-01</td>
          <td class="py-3 px-6 text-left">Usuario 1</td>
        </tr>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">002</td>
          <td class="py-3 px-6 text-left">Nombre del Producto</td>
          <td class="py-3 px-6 text-left">Marca</td>
          <td class="py-3 px-6 text-left">S/.79.99</td>
          <td class="py-3 px-6 text-left">Descripción del Producto.</td>
          <td class="py-3 px-6 text-left">
            <a href="#" target="_blank" class="text-blue-500 hover:underline">Ver Imagen</a>
          </td>
          <td class="py-3 px-6 text-left">2023-01-01</td>
          <td class="py-3 px-6 text-left">Usuario 2</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>