---
import Boton from "../components/Boton.astro";
---

<div
  class="bg-gray-100 dark:bg-[#272829] w-[320px] md:w-[450px] h-[600px] md:h-[500px] md:col-span-2 rounded-lg border flex flex-col justify-center items-center"
>
  <img class="w-[50px] dark:invert" src="./src/assets/logo.svg" alt="" />
  <h2 class="text-[1.5rem] font-semibold my-2 mx-5 md:mx-10 text-center">
    Iniciar sesion o registrate para comprar
  </h2>
  <form action="" class="flex flex-col justify-center md:w-[420px]">
    <fieldset class="grid grid-cols-1 md:grid-cols-2 ml-2">
      <legend class="">Información Personal</legend>
      <input
        class="rounded-sm text-black bg-stone-50/100 p-1 my-2 border text-[0.833rem] w-[220px] md:w-[190px]"
        type="text"
        name="name"
        id="nameRegister"
        placeholder="Ingresa un nombre"
      />

      <input
        class="rounded-sm text-black bg-stone-50/100 p-1 my-2 border text-[0.833rem] w-[220px] md:w-[190px]"
        type="text"
        name="apellido"
        id="apellidoRegister"
        placeholder="Ingresa apellidos"
      />
      <input
        class="rounded-sm text-black bg-stone-50/100 p-1 my-2 border text-[0.833rem] w-[220px] md:w-[190px]"
        type="email"
        name="email"
        id="emailRegister"
        placeholder="Ingresa un correo"
      />
      <input
        class="rounded-sm text-black bg-stone-50/100 p-1 my-2 border text-[0.833rem] w-[220px] md:w-[190px]"
        type="tel"
        name="number"
        id="numberRegister"
        placeholder="Ingresa un numero"
      />
    </fieldset>

    <select
      class="border ml-2 text-black w-[190px] text-[0.833rem] my-2 bg-white"
      name="document"
      id="documentRegistro"
    >
      <option value="">Seleccionar</option>
      <option value="dni">Dni</option>
      <option value="pasaporte">Pasaporte</option>
      <option value="carnet_extrangeria">Carnet de extrangeria</option>
    </select>

    <fieldset class="grid grid-cols-1 md:grid-cols-2 ml-2">
      <legend>Contraseña</legend>
      <input
        class="rounded-sm text-black bg-stone-50/100 p-1 my-2 border text-[0.833rem] w-[220px] md:w-[190px]"
        type="password"
        name="password"
        id="passwordRegister"
        placeholder="Ingresa una contraseña"
      />

      <input
        class="rounded-sm text-black bg-stone-50/100 p-1 my-2 border text-[0.833rem] w-[220px] md:w-[190px]"
        type="password"
        name="passwordConfirm"
        id="passwordConfirmRegister"
        placeholder="Confirmacion de contraseña"
      />
    </fieldset>
    <Boton
      text="Registrate"
      color="bg-amarillo"
      hover="hover:bg-dorado"
      tipo="submit"
    />
    <p class="text-[0.833rem] my-1 text-center">
      ¿Ya tienes cuenta? <a class="underline" href="#">Inicia sesion</a>
    </p>
  </form>
</div>
