---
import Layout from "../layouts/Layout.astro";
import Categorias from "../components/Categorias.astro";
---
<Layout>
  <Categorias />
  

  <script is:inline>
    document
      .getElementById("contenCategoria")
      ?.addEventListener("click", (event) => {
        if (event.target.matches(".imagen")) {
          const codigo = event.target.dataset.codigo;
          console.log("Código seleccionado:", codigo);

          document.getElementById("verProductos").innerHTML =
            `<p>Producto con código: ${codigo}</p>`;
        }
      });
  </script>
</Layout>
