---

---

<!doctype html>
<html lang="es-pe">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../../src/styles/global.css" />
    <title>Astro Basics</title>
  </head>
  <body
    class="flex justify-center items-center font-mono text-[1rem] text-black dark:text-white"
  >
    <slot />
  </body>
</html>
