
import "../styles/global.css";
import "../script/main.js";
---

<!doctype html>
<html lang="es-pe">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class="font-sans text-[1rem] dark:bg-[#272829] text-black dark:text-white"
  >
    <slot />
  </body>
</html>
